python-dotenv
dotenv
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pdfplumber
python-docx
pillow
pymupdf
google-generativeai
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-voyageai
pinecone
supabase
transformers
torch
tqdm
sentence-transformers
streamlit